nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px 25px 40px;
  z-index: 100;
  height: full;
  box-shadow: 0px 0px 40px 5px rgb(2, 140, 145);
  border-radius: 15px;
  margin-bottom: 8vh;
}

#Logo {
  width: 200px;
  padding: 15px 0px 15px 0px;
}

#nav-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-btn {
  border-radius: 7px;
  padding: 10px 25px 10px 25px;
  border: 1px solid rgb(2, 140, 145);
  font-size: 1rem;
}

#logout {
  background-color: red;
  color: white;
}
